body {
    text-align: center;
}

.letters {
    margin-top: 10px;
    margin-bottom: 10px;
}

.letter-display {
    vertical-align: top;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    background: aliceblue;
}

.wrong-letter {
    display: inline-block;
    margin-left: 10px;
}