@font-face {
    font-family: fixedsys;
    src: url(fonts/FSEX300.ttf);
}

body {
    font-family: Fixedsys;
    color: #c6f298;
    font-size: 20px;
    background-image: url("images/falloutbg.jpg");
    background-size: 100%;
    /* background-repeat: no-repeat; */
}

input {
    font-family: Fixedsys;
    font-size: 20px;
    text-align: center;
    color: #c6f298;
    background: transparent;
    border: solid #c6f298 1px;
    width: 50px;
}

button {
    font-family: Fixedsys;
    font-size: 20px;
    text-align: center;
    background: #364c25;
    color: #c6f298;
    border: solid #c6f298 1px;
}

.letters {
    margin-top: 10px;
    margin-bottom: 10px;
}

.letter-display {
    vertical-align: top;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    text-align: center;
    background: transparent;
    border-bottom: 2px solid #c6f298;
}

.wrong-letter {
    display: inline-block;
    margin-left: 10px;
}